p{
    background-color: rgb(238, 163, 163); 
    color: rgb(5, 5, 52); /*for font color*/
    /* background-color: red; puray bg ka color red hojata hai */
}

body{
    background-color: rgb(180, 205, 252);
}